body {
    margin: 0;
    overflow: hidden; 
    background-image: url("https://images.unsplash.com/photo-1560762484-813fc97650a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGNvbXB1dGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}

.login-btn{
    padding: 20px 10px;
    border: none;
    background-color: transparent;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    color: orangered;
}

.login-btn:hover{
    color: darkblue;
}

.open {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.first-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    /*   background-image: url("https://images.unsplash.com/photo-1560762484-813fc97650a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGNvbXB1dGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  */
    background-size: cover;
}

h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btn {
    padding: 20px 10px;
    border: none;
    background-color: orangered;
    width: 200px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(0.9);
}

.first-container.active {
    filter: blur(5px) brightness(0.7);
}

.open.active {
    filter: blur(5px) brightness(0.7);
}

.open1{
    margin-left: 40%;
}
.second-container {
    top: 5%;
    left: 30%;
    height: 400px;
    width: 650px;
    position: absolute;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url("https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fGNvbXB1dGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    display: flex;
    flex-direction: column;
    opacity: 1;
    background-size: cover;
    padding-bottom: 15px;
}

.reg{
    display: flex;
    flex-direction: column;
}

.second-container h4 {
    color: blueviolet;
    font-size: 20px;
    padding: 0 10px;
    font-family: cursive;
    text-align: center;
}

.label {
    margin: 0 10px; 
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 7px;
}

.input {
    text-align: center;
    margin: 5px 10px; 
    margin-bottom: 10px;
    font-family: sans serif;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    border: white;
    padding: 5px;
}

.popup-btn {
    text-align: center;
    font-size: 20px;
    background-color: orangered;
    border-radius: 10px;
    border: white;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 10px;
}

.popup-btn:hover {
    filter: brightness(0.9);
}

.close-icon {
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.close-icon:hover {
    color: white;
}

.second-container.active {
    opacity: 0;
    visibility: hidden;
    top: 10%;
}

.session{
    position: fixed;
    bottom:10%;
    right: 10%;
    background-color: blue;
    color: white;
    padding: 5px;
}